html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#toolbar {
    position: fixed;
    font-family: sans-serif;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    z-index: 10;
}

#whiteboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    cursor: crosshair;
}